<meta charset='utf-8'>
<!DOCTYPE html>
<html>
<head>
<link href="http://jednotka.bublinastudio.com/assets/stylesheets/jednotka_green.css" media="all" id="colors" rel="stylesheet" type="text/css" />
<script src="http://jednotka.bublinastudio.com/assets/javascripts/jednotka.js" type="text/javascript"></script>

<link href="http://jednotka.bublinastudio.com/assets/stylesheets/bootstrap/bootstrap.min.css" media="all" id="bootstrap" rel="stylesheet" type="text/css" />
 <link href="http://127.0.0.1:8000/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>
<body>
  <div class="page-header page-header-with-icon">
    <i class="fa fa-star"></i>
    <h2>开启实习之路</h2>
  </div>
  <div class="panels-wrapper">
    <div class="row panels">
      <div class="col-sm-4 panel-item">
        <a class="panel panel-image" href="#">
          <div class="panel-icon">
            <i class="fa fa-clock-o icon"></i>
          </div>
          <div class="panel-heading">
            <img class="img-responsive-sm" alt="Project planning" width="768" height="300" src="http://jednotka.bublinastudio.com/assets/images/demo/panels/panel_bg_compass.jpg"></div>
          <div class="panel-body">
            <h3 class="panel-title">报名实习</h3>
            <p>学生通过网络报名，参加实习。</p>
          </div>
        </a>
      </div>
      <div class="col-sm-4 panel-item">
        <a class="panel panel-image" href="#">
          <div class="panel-icon">
            <i class="fa fa-cog icon"></i>
          </div>
          <div class="panel-heading">
            <img class="img-responsive-sm" alt="Easy customizable" width="768" height="300" src="http://jednotka.bublinastudio.com/assets/images/demo/panels/panel_bg_hat.jpg"></div>
                    <div class="panel-body">
                      <h3 class="panel-title">参加实习</h3>
                      <p>由企业统一安排学生参加实习。</p>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 panel-item">
                  <a class="panel panel-image" href="#">
                    <div class="panel-icon">
                      <i class="fa fa-rocket icon"></i>
                    </div>
                    <div class="panel-heading"><img class="img-responsive-sm" alt="Fastest workers" width="768" height="300" src="http://jednotka.bublinastudio.com/assets/images/demo/panels/panel_bg_chess.jpg"></div>
                    <div class="panel-body">
                      <h3 class="panel-title">就业安排</h3>
                      <p>实习结束后选择就业岗位。</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
</body>
